
<!DOCTYPE html>
<html>

<body>
    <section class="resume-section" id="contact">
        <div class="resume-section-content">
            <form method="post">
                <p style="font-size: 25px; position: sticky; top: 0; color: #325892; font-weight: bolder; margin-top: -80px; "> Yorumlarınız veya Sorularınız için Benimle İletişime Geçebilirsiniz :)</p>
     
                <label>Ad Soyad</label>
                <input type="text" class="form-control" name="AdSoyad" />


                <label>Mail</label>
                <input type="text" class="form-control" name="Mail" />



                <label>Konu</label>
                <input type="text" class="form-control" name="Konu" />



                <label>Mesaj</label>
                <input type="text" class="form-control" name="Mesaj" />


                <label>Tarih</label>
                <input type="date" class="form-control" name="Tarih" />




                <br />
                <button class="btn btn-info">Mesaj Gönder</button>
            </form>

        </div>


   
    </section>
</body>
</html>