@using MyCv.Models.Entity
@model List<SosyalMedya>
<div  class="sosyal-icons">
    @foreach (var item in Model)
    {
        <a  class="sosyal-icon" href="@item.Link"><i  class="@item.Icon"></i></a>
    }
</div>
